.tours{
    padding-bottom: 6.25rem;
}
.tours-img{
    width: 100%;
}
.tours-details{
    border: 3px solid var(--border-color);
    border-top: none;
    padding: 1.25rem;
    border-radius: 0 0 1.25rem 1.25rem;
}
.stars-wraper{
    display: flex;
    justify-content: center;
    column-gap: 0.25rem;
}
.stars{
    color: var(--border-color);
}
.tours-title,
.tours-location{
    text-align: center;
}
.tours-title{
    color: var(--first-color);
    font-size: var(--h2-font-size);
    font-weight: var(--weight-700);
}
.tours-location{
margin-bottom: 0.75rem;
}
.tours-separator{
    width: 75%;
    height: 0;
    border: 1px solid var(--text-color);
    margin-inline: auto ;
}
.tours-days{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: hsl(191, 34%, 41%);
    font-size: var(--large-font-size);
    margin-block: 1rem 0.75rem;
}
.tours-icon{
    font-size: var(--normal-font-size);
}
.tours-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tours-price{
    color: var(--first-color);
    font-size: var(--h3-font-size);
    font-weight: var(--weight-700);
}
.tours-person{
    color: var(--title-color);
}